@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  color: rgb(139, 149, 158);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: auto;
  max-width: 100%;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form {
  border: none;
}
*, *:before, *:after {
  box-sizing: inherit;
}